mixin slide(x, y, z, rotX, rotY, rotZ, scale)
  div(data-x=x,data-y=y,data-z=z,data-rotate-x=rotX,data-rotate-y=rotY,data-rotate-z=rotZ,data-scale=scale||1,class=(attributes.class||"") + " step")
    block

mixin poll(id, options)
  div.poll(id=id)
    h4 You respond:
    ul
      each val in options
        li= val
    svg


doctype html
html(lang="en")
  head
    title= ""
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:light,regular,semibold,italic,italicsemibold')
    link(rel='stylesheet', href='/assets/css/pres.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
  body
    div#impress
      block slides
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.1/d3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/impress.js/0.5.3/impress.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/assets/scripts/all.min.js")
    script.
        var _impress = impress().init();
        impressConsole().init('/assets/css/impressConsole.css');
        var socket = io();
        $(".poll").poll();

    if mode == "present"
      script.
        var id = localStorage.getItem("user-id");
        if (!id) {
          id = generateUUID();
          localStorage.setItem("user-id", id);
        }
        socket.emit('join', id);
        socket.on('newSlide', function(newSlide) { 
          console.log(newSlide);
          impress().goto(newSlide);
        });
        $(document).on("keyup", function(e){
          if (String.fromCharCode(e.which).toLowerCase() === 'r') window.open("/#{deck}/remote/" + id, "_blank");
          });

    if mode == "remote"
      script.
        var id = '#{id}';
        var steps = $(".step");
        socket.emit('join', id);
        $("body").on("click touch", ".step", function(e) {
          var i = steps.index(this);
          socket.emit('newSlide', id, i);
        });

    .hashtag #IST263JF